<a href="https://colab.research.google.com/github/gptix/DS-Unit-2-Applied-Modeling/blob/master/module2/Jud_Taylor_LS_DS_232_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Wrangle ML datasets

- [ ] Continue to clean and explore your data. 
- [ ] For the evaluation metric you chose, what score would you get just by guessing?
- [ ] Can you make a fast, first model that beats guessing?

**We recommend that you use your portfolio project dataset for all assignments this sprint.**

**But if you aren't ready yet, or you want more practice, then use the New York City property sales dataset for today's assignment.** Follow the instructions below, to just keep a subset for the Tribeca neighborhood, and remove outliers or dirty data. [Here's a video walkthrough](https://youtu.be/pPWFw8UtBVg?t=584) you can refer to if you get stuck or want hints!

- Data Source: [NYC OpenData: NYC Citywide Rolling Calendar Sales](https://data.cityofnewyork.us/dataset/NYC-Citywide-Rolling-Calendar-Sales/usep-8jbt)
- Glossary: [NYC Department of Finance: Rolling Sales Data](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page)

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*
    !pip install pandas-profiling==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Read New York City property sales data
import pandas as pd
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

Your code starts here:

In [0]:
# # Make backup of df
df_bak = df

# Break in case of trubble.
# df = df_bak

In [0]:
# Change column names: replace spaces with underscores
df.columns = [cn.replace(' ','_') for cn in df.columns]
# df.columns

In [0]:
# Get Pandas Profiling Report
import pandas_profiling
pfr = pandas_profiling.ProfileReport(df)
pfr.to_file("df_report.html")

In [62]:
# Keep just the subset of data for the Tribeca neighborhood
# Check how many rows you have now. (Should go down from > 20k rows to 146)
# foo = df.NEIGHBORHOOD.unique().tolist()
# foo.sort()
# foo
df_tribeca = df[df['NEIGHBORHOOD'] == 'TRIBECA']
df_tribeca

       BOROUGH NEIGHBORHOOD  ...      SALE_PRICE   SALE_DATE
220          1      TRIBECA  ...   $   2,800,000  01/03/2019
763          1      TRIBECA  ...   $   2,650,000  01/07/2019
996          1      TRIBECA  ...         $   - 0  01/08/2019
1276         1      TRIBECA  ...   $   1,005,000  01/09/2019
1542         1      TRIBECA  ...  $   12,950,000  01/10/2019
...        ...          ...  ...             ...         ...
22221        1      TRIBECA  ...   $   5,761,259  04/24/2019
22732        1      TRIBECA  ...   $   2,600,000  04/29/2019
22733        1      TRIBECA  ...     $   605,000  04/29/2019
22897        1      TRIBECA  ...     $   960,000  04/30/2019
22898        1      TRIBECA  ...     $   975,000  04/30/2019

[146 rows x 21 columns]

In [63]:
# Q. What's the date range of these property sales in Tribeca?
 pd.to_datetime(df_tribeca['SALE_DATE'],infer_datetime_format=True)

220     2019-01-03
763     2019-01-07
996     2019-01-08
1276    2019-01-09
1542    2019-01-10
           ...
22221   2019-04-24
22732   2019-04-29
22733   2019-04-29
22897   2019-04-30
22898   2019-04-30
Name: SALE_DATE, Length: 146, dtype: datetime64[ns]

In [64]:
 import datetime as dt
 cn = 'SALE_DATE'
 fmt = '%M/%d/%Y'

df_tribeca['SALE_DATE'] = df_tribeca['SALE_DATE'].apply(lambda x: dt.datetime.strptime(x,fmt))
df_tribeca[cn]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

220     2019-01-03 00:01:00
763     2019-01-07 00:01:00
996     2019-01-08 00:01:00
1276    2019-01-09 00:01:00
1542    2019-01-10 00:01:00
                ...
22221   2019-01-24 00:04:00
22732   2019-01-29 00:04:00
22733   2019-01-29 00:04:00
22897   2019-01-30 00:04:00
22898   2019-01-30 00:04:00
Name: SALE_DATE, Length: 146, dtype: datetime64[ns]

In [65]:
earliest = df_tribeca['SALE_DATE'].min().strftime('%Y-%m-%d')
earliest
latest = df_tribeca['SALE_DATE'].max().strftime('%Y-%m-%d')
latest

print(f'Date range of property sales in Tribeca: From {earliest} to {latest}.')
df_tribeca.shape

Date range of property sales in Tribeca: From 2019-01-01 to 2019-01-31.

(146, 21)

In [66]:
# The Pandas Profiling Report showed that SALE_PRICE was read as strings
# Convert it to integers

df_tribeca['SALE_PRICE'] = df_tribeca['SALE_PRICE'].replace('[\$\,\.\ ]', '',
                                                            regex=True).astype(int)
df_tribeca.SALE_PRICE

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

220       2800000
763       2650000
996             0
1276      1005000
1542     12950000
           ...
22221     5761259
22732     2600000
22733      605000
22897      960000
22898      975000
Name: SALE_PRICE, Length: 146, dtype: int64

In [67]:
# Q. What is the maximum SALE_PRICE in this dataset?
max_sale_price = df_tribeca.SALE_PRICE.max()
print(f'The maximum SALE_PRICE in this dataset is ${max_sale_price:,}')

The maximum SALE_PRICE in this dataset is $260,000,000

In [68]:
# Look at the row with the max SALE_PRICE
df_tribeca[df_tribeca['SALE_PRICE'] == max_sale_price]

      BOROUGH NEIGHBORHOOD  ... SALE_PRICE           SALE_DATE
6499        1      TRIBECA  ...  260000000 2019-01-01 00:02:00

[1 rows x 21 columns]

In [69]:
# Get value counts of TOTAL_UNITS
# Q. How many property sales were for multiple units?
print(f'Value counts of TOTAL_UNITS: {df_tribeca.TOTAL_UNITS.value_counts()}')
print()
print(f'Count of sales of multi-units: {df_tribeca[df_tribeca.TOTAL_UNITS > 1].ADDRESS.value_counts().sum()}')

Value counts of TOTAL_UNITS: 1.0      131
0.0       11
5.0        1
286.0      1
8.0        1
3.0        1
Name: TOTAL_UNITS, dtype: int64

Count of sales of multi-units: 4

In [70]:
# Keep only the single units
df_singles = df_tribeca[df_tribeca.TOTAL_UNITS == 1]
df_singles.shape
# df_singles.columns

(131, 21)

In [71]:
# Q. Now what is the max sales price? How many square feet does it have?
print(f'Max sales price: ${df_singles.SALE_PRICE.max():,}')
sqft = df_singles[df_singles.SALE_PRICE == df_singles.SALE_PRICE.max()].GROSS_SQUARE_FEET.iloc[0]
print(f'Square Feet: {sqft}')

Max sales price: $39,285,000
Square Feet: 8346.0

In [72]:
# Q. How often did $0 sales occur in this subset of the data?

# There's a glossary here: 
# https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page

# It says:
# A $0 sale indicates that there was a transfer of ownership without a 
# cash consideration. There can be a number of reasons for a $0 sale including 
# transfers of ownership from parents to children. 

print(f'Count of cases of $0 sales: {df_singles[df_singles.SALE_PRICE <=0].count().max()}')

Count of cases of $0 sales: 15

In [73]:
# Look at property sales for > 5,000 square feet
# Q. What is the highest square footage you see?

print(f'Highest square footge: {df_singles[df_singles.GROSS_SQUARE_FEET > 5000].GROSS_SQUARE_FEET.max()}')

Highest square footge: 39567.0

In [74]:
# What are the building class categories?
# How frequently does each occur?

print(df_singles.BUILDING_CLASS_CATEGORY.value_counts())

13 CONDOS - ELEVATOR APARTMENTS               121
15 CONDOS - 2-10 UNIT RESIDENTIAL               8
16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT      1
46 CONDO STORE BUILDINGS                        1
Name: BUILDING_CLASS_CATEGORY, dtype: int64

In [75]:
# Keep subset of rows:
# Sale price more than $0, 
# Building class category = Condos - Elevator Apartments

# Check how many rows you have now. (Should be 106 rows.)
df_condos = df_singles[(df_singles['SALE_PRICE']>0) & (df_singles['BUILDING_CLASS_CATEGORY'] == '13 CONDOS - ELEVATOR APARTMENTS')]
df_condos.shape
# df_singles.shape
# df_singles['BUILDING_CLASS_CATEGORY']

(106, 21)

In [80]:
# Make a Plotly Express scatter plot of GROSS_SQUARE_FEET vs SALE_PRICE
import plotly.express as px
# xvals= df_tribeca.
# yvals = df_tribeca.GROSS_SQUARE_FEET
fig = px.scatter(df_condos, x='SALE_PRICE', y='GROSS_SQUARE_FEET')
fig.show()

In [81]:
# Add an OLS (Ordinary Least Squares) trendline,
# to see how the outliers influence the "line of best fit"
fig = px.scatter(df_condos, x='SALE_PRICE', y='GROSS_SQUARE_FEET', trendline="ols")
fig.show()

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:2495: FutureWarning:

Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.

In [82]:
# Look at sales for more than $35 million
df_condos[df_condos.SALE_PRICE > 3.5e7]
# All are at 70 Vestry Street
# All but one have the same SALE_PRICE & SALE_DATE
# Was the SALE_PRICE for each? Or in total?

# Looks like TOTAL.

# Is this dirty data?

# I believe the data is good, but the sales price should be divided across the 
# units sold at that address on the 12th.
# This should be clearlyt noted.

      BOROUGH NEIGHBORHOOD  ... SALE_PRICE           SALE_DATE
8370        1      TRIBECA  ...   36681561 2019-01-12 00:02:00
8371        1      TRIBECA  ...   36681561 2019-01-12 00:02:00
8372        1      TRIBECA  ...   36681561 2019-01-12 00:02:00
8373        1      TRIBECA  ...   36681561 2019-01-12 00:02:00
8374        1      TRIBECA  ...   36681561 2019-01-12 00:02:00
8375        1      TRIBECA  ...   36681561 2019-01-12 00:02:00
8376        1      TRIBECA  ...   36681561 2019-01-12 00:02:00
8377        1      TRIBECA  ...   36681561 2019-01-12 00:02:00
8378        1      TRIBECA  ...   36681561 2019-01-12 00:02:00
8379        1      TRIBECA  ...   36681561 2019-01-12 00:02:00
8380        1      TRIBECA  ...   36681561 2019-01-12 00:02:00
8381        1      TRIBECA  ...   36681561 2019-01-12 00:02:00
8382        1      TRIBECA  ...   36681561 2019-01-12 00:02:00
8383        1      TRIBECA  ...   36681561 2019-01-12 00:02:00
8384        1      TRIBECA  ...   36681561 2019-01-12 00:02:00
9236        1      TRIBECA  ...   39285000 2019-01-15 00:02:00

[16 rows x 21 columns]

In [83]:
# Make a judgment call:
# Keep rows where sale price was < $35 million
df_condos2 = df_condos[df_condos.SALE_PRICE < 35000000]
df_condos2.shape
# Check how many rows you have now. (Should be down to 90 rows.)

(90, 21)

In [84]:
# Now that you've removed outliers,
# Look again at a scatter plot with OLS (Ordinary Least Squares) trendline
fig = px.scatter(df_condos2, x='SALE_PRICE', y='GROSS_SQUARE_FEET', trendline="ols")
fig.show()

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:2495: FutureWarning:

Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.

In [0]:
# Select these columns, then write to a csv file named tribeca.csv. Don't include the index.

df_output = df_condos[['SALE_PRICE', 'GROSS_SQUARE_FEET']].copy()
df_output.to_csv('tribeca.csv', index=False)